{% extends "@BangpoundCastleSearch/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    "@underscore_js"
    "@underscore_string_js"
    "@angular_js"
    "@angular_sanitize_js"
    "@angular_resource_js"
    "@angular_bootstrap_js"
    "@elasticsearch_angular_js"
    "@elastic_js_js"
    "@d3_js"
    "@n3_charts_line_chart_js"
    "@CornerCouch_js"
    "@BangpoundCastleSearchBundle/Resources/public/js/app.js"
    "@BangpoundCastleSearchBundle/Resources/public/js/controllers.js"
    "@BangpoundCastleSearchBundle/Resources/public/js/components.js"
    "@BangpoundCastleSearchBundle/Resources/public/js/filters.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body_controller %} ng-controller="TagsTypeahead" ng-cloak{% endblock %}

{% block header %}
    <h1 class="page-header">Enter a hashtag</h1>
    <input type="text" ng-model="tag" typeahead-on-select="getData()" typeahead-min-length="3" typeahead-wait-ms="100" typeahead-editable="false" placeholder="Start typing and our list of keywords will drop down" typeahead="address for address in getTags($viewValue) | filter:$viewValue" class="form-control input-lg">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
{% endblock %}

{% block content %}
    <div class="clearfix">
        <linechart data="data" options="options" mode=""></linechart>
    </div>
{% endblock %}
